/******************
COMMON
******************/

body {
    font-family: "monospace", sans-serif;
}

.font-primary {
    color: #00abae;
}

.title-icon {
    font-size: 20px;
    font-weight: bold;
}



p {
    font-size: 12px;
}


/*
 ABOUT
 */

#about {
    margin: 60px auto;
    max-width: 400px;
    text-align: center;

}

#about img {
    border-radius: 50%;
    width: 120px;
    margin-bottom: 20px;


}

#about .name {
    font-size: 19px;

}

#about .vocation {
    font-size: 17px;
    color: #A8A8AB;
    margin-bottom: 10px;
}

#about .skills {
    color: #00abae;
    font-size: 14px;
    margin-bottom: 10px;
}

#about .email {
    margin-top: 14px;
    font-size: 11px;
}

#about .icons {
    margin-top: 20px;
    font-size: 37px;
    
}
#about .icons  a{
    
    color: black;
    
}
#about h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
a.font-black {
    color: #000 !important;
    font-size: 16px;
}

/***
PROJECT
***/
#project {
    margin: 60px auto;
    width: 80%;
}

#project h2 {
    text-align: center;
}

#project .card img {
    width:100%;
}

#project .card-title {
    font-weight: bold;;
}

#project .font-primary {
    margin-top: 20px;
}